
scratch/__init__.py
scratch/clustering.py
scratch/crash_course_in_python.py
scratch/databases.py
scratch/decision_trees.py
scratch/deep_learning.py
scratch/getting_data.py
scratch/gradient_descent.py
scratch/inference.py
scratch/introduction.py
scratch/k_nearest_neighbors.py
scratch/linear_algebra.py
scratch/logistic_regression.py
scratch/machine_learning.py
scratch/mapreduce.py
scratch/multiple_regression.py
scratch/naive_bayes.py
scratch/network_analysis.py
scratch/neural_networks.py
scratch/nlp.py
scratch/nlp_advanced.py
scratch/probability.py
scratch/recommender_systems.py
scratch/simple_linear_regression.py
scratch/statistics.py
scratch/visualization.py
scratch/working_with_data.py
